<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092649235217-ottop35q3pkc05rcjp65ofp5kqhillr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092649235217-ottop35q3pkc05rcjp65ofp5kqhillr7</string>
	<key>API_KEY</key>
	<string>AIzaSyBDPX_kil9sVbL1q-0-XQndfBpOOKVyCws</string>
	<key>GCM_SENDER_ID</key>
	<string>1092649235217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>technology.yeti.unisync</string>
	<key>PROJECT_ID</key>
	<string>unisync-def89</string>
	<key>STORAGE_BUCKET</key>
	<string>unisync-def89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092649235217:ios:b476f447cc1f1b97bcd2b0</string>
</dict>
</plist>